.DS_Store

.env
.env.*

.vscode/
.idea/

node_modules/
dist/
frontend/dist/
frontend/node_modules/

*.pyc
__pycache__/
*.pyo
*.pyd
 
backend/.venv/
.venv/

*.log
*.sqlite3
*.db 

/

.coverage
.tox/
.pytest_cache/